@page
@model Reservation.Pages.LogInModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>LogIn</h1>

<a class="btn btn-info" asp-page-handler="TwitterLogin">Log In With Twitter</a>
